

/* FEATURE Outline, necessary default style */
.highlight {
	color: red;
}
/* FEATURE Outline, example override */
.highlight-is-green .highlight {
	color: green;
}



/* FEATURE Anim, necessary default style */
:root {
	--anim-show-duration: 400ms;
	--anim-hide-duration: 100ms;
	--anim-step-opacity: 0.15;
}
.anim-shown { opacity: 1; transition: all var(--anim-show-duration); }
.anim-hidden { opacity: 0; transition: all var(--anim-hide-duration); }
.anim-nowable, .anim-nowable ~ * { transition: all var(--anim-show-duration) ease-out; }
.anim-notnow, .anim-now ~ * { opacity: var(--anim-step-opacity); transition-duration: 0ms !important; transition-timing-function: ease-out; }
/* css is tricky (and imperfect) with nested lists... */



/* FEATURE KATEX, example of latex default color */
.katex { color: #006; }
.dark .katex { color: #DEF; }

/* CUSTOM: wikipedia link component */
.wikipedia-link {
	font-size: 50%;
	vertical-align: top;
	position: relative;
	top: -1em;
}

/* CUSTOM: better styling inline code */ 
:not(pre) code {
	padding: 0.1em .4em;
	background-color: #EEE;
	color: darkviolet;
}
.dark :not(pre) code {
	color: violet;
	background-color: #222;
}
:not(pre) code::before, :not(pre) code::after {
	content: "";
}


/* CUSTOM */
.result { border: 1px solid magenta; padding: .1em; }
