
.mtable span.dishonored2,
.slidev-code .line.dishonored2 {
	opacity: 0.3;
}

/* FEATURE Outline, necessary default style */
.highlight {
	color: red;
}
/* FEATURE Outline, example override */
.highlight-is-green .highlight {
	color: green;
}



/* FEATURE KATEX, example of latex default color */
.katex { color: #006; }
.dark .katex { color: #DEF; }

/* CUSTOM: wikipedia link component TODO MOVE TO THE COMPONENT so it is standalone (if ppl copy/paste it) */
.wikipedia-link {
	font-size: 50%;
	vertical-align: top;
	position: relative;
	top: -1em;
}

/* CUSTOM: better styling inline code */ 
:not(pre) > code {
	padding: 0.1em .4em;
	background-color: #EEE;
	color: darkviolet;
}
.dark :not(pre) > code {
	color: violet;
	background-color: #222;
}
:not(pre) > code::before, :not(pre) > code::after {
	content: "";
}


/* CUSTOM */
.result { border: 1px solid magenta; padding: .1em; }
